/* Fundo */
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/neuschwanstein.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.55);
    z-index: -1;
}

/* Centralização */
.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Caixa */
.login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 60%;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border-radius: 12px;
    text-align: center;
    color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat';
}

/* Logo */
.logo {
    width: 180px;
}

/* Inputs */
input {
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    background: none;
    border: none;
    color: white;
    outline: 1px solid white;
    font-size: 15px;
    font-family: 'Montserrat';
}

/* Botão */
button {
    width: 80%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #b43131;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
    font-family: 'Montserrat';
}

button:hover {
    background-color: #992828;
}
